<div class="login">
    <div class="login-header">
       <div class="login-header-logos">
        <img src="../../assets/logoupdated.png">

       </div>
       <div class="login-header-titles">
        <p class="login-header-titles__sub-text">Welcome to</p>
        <p class="login-header-titles__text">Community Direct Portal</p>

       </div>
    </div>
    <div class="login-body">
        <div class="login-body-content">
            <p class="login-body-content__title"><strong>Sign in</strong> to access Ipsos Community Direct Projects</p>
            <div class="smx-input-container m-top-20">
                <label class="smx-label">Email</label>
                <input class="smx-input" type="text" placeholder="Enter your registered email"/>
            </div>
            <div class="smx-input-container m-top-20">
                <label class="smx-label">Password</label>
                <input class="smx-input" type="password" placeholder="Enter your registered password"/>
                <a class="forgot-password">Forgot Password ?</a>
            </div>
            <div class="smx-btn m-top-40">
                <button class="submit"> Submit </button>
                <div class="submit-actions" style="margin-top:14px">
                    <a class="text-400 submit-action">
                        Don't have an account yet?
                    </a>
                    <a class="text-700 submit-action underline">
                        Create one.
                    </a>
                </div>
            </div>
            <div class="smx-btn m-top-50">
                <button class="sign-in">
                    <span><img src="../../assets/image 1.jpg" /></span>
                    <span style="padding-bottom: 2px;">Sign in with Google</span>
                </button>
            </div>

        </div>


    </div>
</div>