<div class="dashboard">
    <div class="dashboard-title">
        MY DASHBOARD

    </div>
    <div class="dashboard-cards">
      <div class="dashboard-card-item  ">
        <div class="dashboard-card-item__header yellow">
        </div>
        <div class="dashboard-card-item__content">
           <div class="count">345</div>
           <div class="count-title">Requested Projects.</div>
        </div>
        <button class="dashboard-card-item-btn card-yellow">View Projects</button>

      </div>
      <div class="dashboard-card-item">
        <div class="dashboard-card-item__header green">
        </div>
        <div class="dashboard-card-item__content">
           <div class="count">45</div>
           <div class="count-title">Requested Projects.</div>
        </div>
        <button class="dashboard-card-item-btn card-green">View Projects</button>

      </div>
      <div class="dashboard-card-item">
        <div class="dashboard-card-item__header grey">
        </div>
        <div class="dashboard-card-item__content">
           <div class="count">10</div>
           <div class="count-title">Requested Projects.</div>
        </div>
        <button class="dashboard-card-item-btn card-grey">View Projects</button>

      </div>
      
    </div>
    
</div>
